/*style.css*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', monospace;
    line-height: 1.5;
    min-height: 100vh;
    background: #0a0a0a;
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: #0a0a0a;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(61, 201, 14, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

h1 {
    color: #3dc90e;
}

h3 {
    color: #3dc90e;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: #3dc90e;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #3dc90e;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #3dc90e;
    color: #3dc90e;
    cursor: pointer;
    background-color: #0a0a0a;
    width: 100%;
    font-family: 'Courier New', monospace;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
