body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', monospace;
    line-height: 1.5;
    min-height: 100vh;
    background: #0a0a0a;
    flex-direction: column;
    margin: 0;
}


form {
  max-width: 400px;
  margin: 35px auto;
  border-radius: 10px;
  padding: 10px 15px;
  background: #0a0a0a;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
  margin-top: 5px;
  color: #3dc90e;
}

h3 {
    color: #3dc90e;
}


.alert {
  text-align: center;
  padding: 10px;
  background: #3dc90e;
  color: black;
  margin-bottom: 10px;
  display: none;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
  background: #3dc90e;
  border: 1px;
  margin-bottom: 25px;
  box-shadow: 2px;
  color: #3dc90e;
  background-color: #0a0a0a;
  width: 100%;
  padding: 15px;
  margin: 0;
  height: auto;
  font-size: 15px;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.section {
  background-color: #3dc90e;
  color: black;
  height: 29px;
  display: inline-block;
  width: 29px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  margin-right: 4px;
  font-size: 0.7em;
}

label {
  display: block;
  margin-bottom: 8px;
}

button {
  padding: 25px 40px;
  color: black;
  background-color: #3dc90e;
  font-size: 15px;
  margin: 30px 0px 0px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}
